.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: start;
  align-items: center;

  padding-top: 36px;
  width: 100%;
}
.title {
  font-family: var(--ff-headers);
  font-weight: 400;
  font-size: 28px;
  line-height: 1;
  text-transform: uppercase;
}
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 768px) {
  .section {
    gap: 40px;
    padding-top: 100px;
  }
  .title {
    font-size: 36px;
  }
  .wrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 122px;
    align-items: start;
  }
}
@media (min-width: 1280px) {
  .section {
    gap: 120px;
    padding-top: 120px;
  }
  .title {
    font-size: 48px;
  }
  .wrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 178px;
    align-items: start;
  }
}
