.footer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  margin-top: 36px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: var(--border-main);
}
.logoRow {
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: start;
  position: relative;
}
/* .logoColumn {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-end;
} */

.circle {
  width: 32px;
  height: 33px;
  border-radius: 100px;
  border: none;
  background-color: var(--accent-green);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  position: absolute;
  right: 0;
  top: 0;
}
.socialNetworksMobile {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.btnIcon {
  width: 16px;
  height: 16px;
  fill: none;
  stroke: var(--text-main);
}
.copyright {
  margin-top: 16px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer {
    margin-top: 100px;
  }
  .logoRow {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  /* .adress {
    text-align: left;
  } */

  /* .copyright {
    text-align: left;
    margin-top: 0;
  } */

  .socialNetworksMobile {
    margin-top: 0;
  }

  .circle {
    position: static;
    margin-top: 0;
  }
}
