:root {
  --white: #fff;
  --bg-main: #f3f5fa;
  --bg-grey: #eaedf1;
  --text-main: #173d33;
  --text-secondary: rgba(255, 255, 255, 0.25);
  --accent-green: #97d28b;
  --light-green: #dcefd8;
  --burger-menu: rgba(23, 61, 51, 0.75);
  --placeholder: #bdbdbd;
  --backdrop: rgba(23, 61, 51, 0.25);
  --error: #d28b8b;

  --ff-main: 'Fira Sans', sans-serif;
  --ff-headers: 'Oswald', sans-serif;
  --ff-logo-main: 'FONTSPRING DEMO - All Round Gothic Thick', sans-serif;
  --ff-logo-secondary: 'CA Saygon Text', sans-serif;

  --border-main: 1px solid #97d28b;
  --border-btn: 1px solid #173d33;
  --border-white: 1px solid #fff;

  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
html {
  box-sizing: border-box;
  scroll-behavior: auto;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: var(--bg-main);
  font-family: var(--ff-main);
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-align: justify;
  color: var(--text-main);
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: auto;
}
input::placeholder,
textarea::placeholder {
  color: var(--placeholder);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.slick-list {
  overflow: hidden;
  text-align: center;
}

.slick-slide {
  transition: transform 0.3s ease-in-out;
}

.slick-track {
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: var(--ff-main);
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/FiraSans-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: var(--ff-main);
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/FiraSans-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: var(--ff-headers);
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Oswald-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: var(--ff-headers);
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Oswald-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: var(--ff-logo-main);
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Fontspring-DEMO-allroundgothic-thick.otf') format('otf');
  font-display: swap;
}
@font-face {
  font-family: var(--ff-logo-secondary);
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/CASaygonText-Regular.otf') format('otf');
  font-display: swap;
}
